<div id="<%= dom_id hs_company %>">
  <p>
    <strong>Name:</strong>
    <%= hs_company.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hs_company.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hs_company.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= hs_company.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= hs_company.zip %>
  </p>

  <p>
    <strong>Primary identifier:</strong>
    <%= hs_company.primary_identifier %>
  </p>

  <p>
    <strong>Hs number:</strong>
    <%= hs_company.hs_number %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= hs_company.website %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= hs_company.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= hs_company.longitude %>
  </p>

</div>
