<h1>States#show</h1>
<p>Find me in app/views/states/show.html.erb</p>


<p style="color: green"><%= notice %></p>

<div class="container">
  <%= @state.name %> <%= @state.npi_companies.size %>
  <br />

</div>


<div>
  <%= link_to "Edit this state", edit_state_path(@state) %> |
  <%= link_to "Back to state", states_path %>

  <%= button_to "Destroy this state", @state, method: :delete %>
</div>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">NPI Number</th>       
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Position</th>
        <th scope="col">Address</th>   
        <th scope="col">City</th> 
        <th scope="col">State</th>                
      </tr>
    </thead>
    <tbody>
      <% @state.npi_companies.limit(200).each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td><%= c.number %></td>
          <td><%= c.first_name %></td>
          <td><%= c.last_name %></td>
          <td><%= c.position %></td>
          <td><%= c.address %></td>
          <td><%= c.city %></td>
          <td><%= c.state.iso %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>

<div/>