<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Facid:</strong>
    <%= client.facid %>
  </p>

  <p>
    <strong>Tte servicing pharmacy:</strong>
    <%= client.tte_servicing_pharmacy_id %>
  </p>

  <p>
    <strong>Street1:</strong>
    <%= client.street1 %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= client.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= client.state_id %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= client.zip %>
  </p>

  <p>
    <strong>Admin phone:</strong>
    <%= client.admin_phone %>
  </p>

</div>
