<div id="<%= dom_id agency %>">
  <p>
    <strong>Name:</strong>
    <%= agency.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= agency.company_id %>
  </p>

  <p>
    <strong>Street1:</strong>
    <%= agency.street1 %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= agency.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= agency.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= agency.state_id %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= agency.zip %>
  </p>

  <p>
    <strong>License number:</strong>
    <%= agency.license_number %>
  </p>

  <p>
    <strong>License type:</strong>
    <%= agency.license_type %>
  </p>

  <p>
    <strong>County:</strong>
    <%= agency.county %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= agency.phone %>
  </p>

  <p>
    <strong>License status:</strong>
    <%= agency.license_status %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= agency.capacity %>
  </p>

  <p>
    <strong>Licensing authority:</strong>
    <%= agency.licensing_authority %>
  </p>

</div>
