<p style="color: green"><%= notice %></p>



<div class="container">
<h1>Agencies/Sites</h1>
<p>Total: <%= @agencies.size %></p>
 
  <br>

  <table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Name</th>   
      <th>State</th>
      <th>Parent</th>   
      <th>Individuals</th>   
      <th>Street1</th>
      <th>Street2</th>
      <th>City</th>     
      <th>Zip</th>
      <th>Website</th>
      <th>Phone</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.limit(110).each do |agency| %>
      <tr>
        <td><%= link_to agency.name, agency, style: "text-decoration: none;" %></td>
        <td><%= agency.state.iso %></td>
        <td><%= agency.company.name %></td>
        <td><%= agency.capacity %></td>       
        <td><%= agency.street1 %></td>
        <td><%= agency.street2 %></td>
        <td><%= agency.city %></td>       
        <td><%= agency.zip %></td>   
       
        <td><%= agency.phone %></td>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to "New agency", new_agency_path %>

</div>


