<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Facid:</strong>
    <%= customer.facid %>
  </p>

  <p>
    <strong>Pharmid:</strong>
    <%= customer.pharmid %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= customer.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= customer.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= customer.zip %>
  </p>

  <p>
    <strong>Fac admin phone:</strong>
    <%= customer.fac_admin_phone %>
  </p>

</div>
