<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= company.state.iso %>
  </p>

  <p>
    <strong>Agencies:</strong>
    <%= company.agencies.size %>
  </p>

  <p>
    <strong>Individuals:</strong>
    <%= company.agencies.sum(:capacity) %>
  </p>

  <p>
    <strong>Street1:</strong>
    <%= company.street1 %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= company.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= company.zip %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= company.website %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= company.phone %>
  </p>

</div>
