<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<div class="container">
<h1>Companies</h1>
<p>Total: <%= @companies.size %></p>
 
  <br>

  <table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Name</th>   
      <th>State</th>
      <th>Agencies/Sites</th>   
      <th>Individuals</th>   
      <th>Street1</th>
      <th>Street2</th>
      <th>City</th>     
      <th>Zip</th>
      <th>Website</th>
      <th>Phone</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company, style: "text-decoration: none;" %></td>
        <td><%= company.state.iso %></td>
        <td><%= company.agencies.size %></td>
        <td><%= company.agencies.sum(:capacity) %></td>       
        <td><%= company.street1 %></td>
        <td><%= company.street2 %></td>
        <td><%= company.city %></td>       
        <td><%= company.zip %></td>
        <td><%= company.website %></td>
        <td><%= company.phone %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to "New company", new_company_path %>

</div>




