<%= form_with(model: pipeline_activity) do |form| %>
  <% if pipeline_activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pipeline_activity.errors.count, "error") %> prohibited this pipeline_activity from being saved:</h2>

      <ul>
        <% pipeline_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :week_number, style: "display: block" %>
    <%= form.number_field :week_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
