<div id="<%= dom_id pipeline_activity %>">

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
       <th>Pipeline date</th>  
       <th>Activities</th> 
       <th>New deals</th> 
       <th>Deals updated</th>    

      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td> <%= link_to pipeline_activity.end_date.strftime('%m-%d-%Y'), pipeline_activity %> </td>
        <td> <%= pipeline_activity.events.size %> </td>
        <td> <%= pipeline_activity.deals.where(created_at: pipeline_activity.start_date..pipeline_activity.end_date).size %> </td>
        <td> <%= pipeline_activity.deals.size %> </td>      

      </tr>
    </tbody>
  </table> 

</div>
