<p style="color: green"><%= notice %></p>

<p> <%= render @pipeline_activity %> | <%= @pipeline_activity.events.size %> </p>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>Event type</th> 
      <th>Propety name</th>    
      <th>Propety value</th>    
      <th>Deal name</th>      

    </tr>
  </thead>
  <tbody>
    <% @pipeline_activity.events.each do |event| %>
      <tr>
        <td><%= event.event_type %></td>
        <td><%= event.property_name %></td>
        <td><%= event.property_value %></td>
        <td><%= event.deal.dealname%></td>

      </tr>
    <% end %>
  </tbody>
</table> 

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>Owner</th> 
      <th>Deal name</th> 
      <th>Go Live date</th>    
      <th>Chain</th>  
      <th>Stage</th>   
      <th>State</th> 
      <th>TTE Servicing Pharmacy</th> 
      <th>Beds</th>    
      <th>Probability of close</th>  
      <th>Go live date</th> 
      <th>Incumbent pharmacy</th>
      <th>Delivery type</th>   
      <th>Locations</th>   
      <th>Comments</th>   
      <th>Pipeline date</th>  
      <th>Create date</th>    
       </tr>
  </thead>
  <tbody>
    <% @pipeline_activity.deals.each do |deal| %> 

      <% events = deal.events.where(pipeline_activity_id: @pipeline_activity.id)%>

      <% events.each do |event| %> 
        <% if event.property_name == "delivery_type_updated" %>
          <strong>
            <%= event.property_name %>
          </strong>
        <% end %>
      <% end %>  

      <% a = Event.where(pipeline_activity_id: @pipeline_activity.id, property_name: "delivery_type_updated", deal_id: deal.id).last.blank? %> 
      <%= a %>      

      <tr>        
        <td><%= deal.team.name%></td>
        <td><%= deal.dealname %></td>
        <td><%= deal.go_live_date %></td>
        <td><%= deal.chain %></td>
        <td><%= deal.deal_stage.name %></td>
        <td><%= deal.state %></td>
        <td><%= deal.tte_servicing_pharmacy %></td>
        <td><%= deal.total_residential_individuals %></td>
        <td><%= deal.probability_of_close %></td>
        <td><%= deal.go_live_date %></td>
        <td><%= deal.incumbent_pharmacy %></td> 
        <% if  a %>   
        <td><%= deal.delivery_type %></td>         
        <% else %>
         <td><b><%= deal.delivery_type %></b></td>           
        <% end %>  
        <td><%= deal.number_of_delivery_locations %></td>          
        <td><%= deal.comments %></td>          
        <td><%= deal.pipeline_date %></td>   
        <td><%= deal.created_at %></td>         
      </tr>
          
    <% end %>
  </tbody>
</table> 

<div>
  <%= link_to "Edit this pipeline activity", edit_pipeline_activity_path(@pipeline_activity) %> |
  <%= link_to "Back to pipeline activities", pipeline_activities_path %>

  <%= button_to "Destroy this pipeline activity", @pipeline_activity, method: :delete %>
</div>
