<p style="color: green"><%= notice %></p>
<h4 class="text-center">Pipeline updates | <%= @pipeline_activity.name.strftime('%B-%d-%Y') %></h4>
<br>

<h5 class="container-fluid">Summary</h5>

<p> <%= render @pipeline_activity %> </p>
<br>
<h5 class="container-fluid">Team Activity</h5>

<div class="container-fluid">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>       
        <th>Name</th> 
        <th>Activities</th>       
        <th>Onboarding - In Progress</th>   
        <th>Contract Negotiation</th>        
        <th>New deals</th> 
        <th>Deals updated</th>    
        <th>Onboarding - Complete	</th>  
        <th>Inactive</th>          
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>          
          <td><%= team.name %></td>
          <td><%= team.events.where(pipeline_activity_id: @pipeline_activity.id).size %></td>
          <td><%= team.events.where(property_value: "42683965").size %></td>
          <td><%= "0" %></td>
          <td><%= team.deals.where(created_at: @pipeline_activity.start_date..@pipeline_activity.end_date).size %></td>
          <td><%= @pipeline_activity.deals.where(team_id: team.id).size %></td>
          <td><%= "0" %></td>
          <td><%= "0" %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table> 
</div>

<br>
<h5 class="container-fluid">Deals Updated</h5>

<center class="mb-3">
<%= form_tag(@pipeline_activity_path, method: :get) do %>
  <%= select_tag "team_id", options_from_collection_for_select(Team.all.order("name ASC"), "id", "name"), :prompt => "Select Owner" %>
  
  <%= number_field_tag 'distance', nil, placeholder: "Enter distance"  %>
  <%= number_field_tag 'beds', nil, placeholder: "Enter bed count"  %>
 <%= submit_tag 'Search', name: nil %>
<% end %>
</center>
<br>

<div class="container-fluid">  
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>      
        <th>Owner</th> 
        <th>Deal name</th>          
        <th>Chain</th>  
        <th>Stage</th>   
        <th>State</th> 
        <th>TTE Servicing Pharmacy</th> 
        <th>Beds</th>    
        <th>Probability of close</th>  
        <th>Go live date</th> 
        <th>Incumbent pharmacy</th>
        <th>Delivery type</th>   
        <th>Locations</th>   
        <th>Comments</th>   
        <th>Pipeline date</th>        
      </tr>
    </thead>
    <tbody>
      <% @deals.order("dealname ASC").each do |deal| %>         
        
        <% team_name = @pipeline_activity.events.where(property_name: "hubspot_owner_id", deal_id: deal.id).last.blank? %> 
        <% dealname = @pipeline_activity.events.where(property_name: "dealname", deal_id: deal.id).last.blank? %>
        <% chain = @pipeline_activity.events.where(property_name: "chain", deal_id: deal.id).last.blank? %> 
        <% deal_stage = @pipeline_activity.events.where(property_name: "dealstage", deal_id: deal.id).last.blank? %> 
        <% state = @pipeline_activity.events.where(property_name: "state", deal_id: deal.id).last.blank? %> 
        <% tte_servicing_pharmacy = @pipeline_activity.events.where(property_name: "tte_servicing_pharmacy", deal_id: deal.id).last.blank? %>
        <% total_residential_individuals = @pipeline_activity.events.where(property_name: "total_residential_individuals", deal_id: deal.id).last.blank? %>
        <% probability_of_close = @pipeline_activity.events.where(property_name: "probability_of_close", deal_id: deal.id).last.blank? %>
        <% go_live_date = @pipeline_activity.events.where(property_name: "go_live_date", deal_id: deal.id).last.blank? %> 
        <% incumbent_pharmacy = @pipeline_activity.events.where(property_name: "incumbent_pharmacy", deal_id: deal.id).last.blank? %>      
        <% delivery_type_updated = @pipeline_activity.events.where(property_name: "delivery_type_updated", deal_id: deal.id).last.blank? %>
        <% number_of_delivery_locations = @pipeline_activity.events.where(property_name: "number_of_delivery_locations", deal_id: deal.id).last.blank? %>      
        <% comments = @pipeline_activity.events.where(property_name: "comments", deal_id: deal.id).last.blank? %> 
        <% pipeline_date = @pipeline_activity.events.where(property_name: "pipeline_date", deal_id: deal.id).last.blank? %>     

        <tr>      
          <% if team_name %> 
          <td><%= deal.team.name%></td>
          <% else %> 
          <td><b><%= deal.team.name%></b></td>
          <% end %> 

          <% if dealname %> 
            <td><%= deal.dealname %></td>
          <% else %> 
            <td><b><%= deal.dealname %></b></td>
          <% end %> 

          <% if chain %>         
            <td><%= deal.chain %></td>        
          <% else %> 
            <td><b><%= deal.chain %></b></td>   
          <% end %>
          
          <% if deal_stage %>  
            <td><%= deal.deal_stage.name %></td>
          <% else %> 
            <td><b><%= deal.deal_stage.name %></b></td>
          <% end %> 
          
          <% if state %>  
            <td><%= deal.state %></td>
          <% else %>
            <td><b><%= deal.state %></b></td> 
          <% end %> 

          <% if tte_servicing_pharmacy %> 
            <td><%= deal.tte_servicing_pharmacy %></td> 
          <% else %>  
            <td><b><%= deal.tte_servicing_pharmacy %></b></td> 
          <% end %> 
          
          <% if total_residential_individuals %> 
            <td><%= deal.total_beds %></td>
          <% else %> 
            <td><b><%= deal.total_beds %></b></td>
          <% end %> 

          <% if probability_of_close %> 
            <td><%= deal.probability_of_close %></td>
          <% else %>
            <td><b><%= deal.probability_of_close %></b></td>
          <% end %>         
          
          <% if go_live_date %> 
            <td><%= deal.go_live_date.strftime('%m-%d-%Y') %></td>
          <% else %>
            <td><b><%= deal.go_live_date.strftime('%m-%d-%Y') %></b></td> 
          <% end %> 

          <% if incumbent_pharmacy %> 
            <td><%= deal.incumbent_pharmacy %></td> 
          <% else %>
            <td><b><%= deal.incumbent_pharmacy %></b></td> 
          <% end %>         

          <% if  delivery_type_updated %> 
            <td><%= deal.delivery_type %></td>         
          <% else %>
            <td><b><%= deal.delivery_type %></b></td>           
          <% end %>  

          <% if  number_of_delivery_locations %>
            <td><%= deal.number_of_delivery_locations %></td> 
          <% else %>
            <td><b><%= deal.number_of_delivery_locations %></b></td> 
          <% end %>       

          <% if comments %>          
            <td><%= deal.comments %></td> 
          <% else %>
            <td><b><%= deal.comments %></b></td> 
          <% end %>

          <% if pipeline_date %>  
            <td><%= deal.pipeline_date %></td>   
          <% else %>
            <td><b><%= deal.pipeline_date %></b></td>     
          <% end %>       
              
        </tr>
            
      <% end %>
    </tbody>
  </table>
</div>
<br>

<h5 class="container-fluid">Line item updates</h5>

<div class="container-fluid">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Owner</th>
        <th>Deal name</th>
        <th>Event type</th> 
        <th>Propety name</th>    
        <th>Propety value</th> 
        <th>Date</th>  
        
      </tr>
    </thead>
    <tbody>
      <% @pipeline_activity.events.order(created_at: :desc).each do |event| %>
        <tr>
         <td><%= event.team.name unless event.team.nil?%></td>
          <td><%= event.deal.dealname%></td>
          <td><%= event.event_type %></td>
          <td><%= event.property_name %></td>
          <td><%= event.property_value %></td>
          <td><%= event.created_at.localtime.strftime('%B-%d-%Y, %l:%M%P') %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table> 
</div>

<div>
  <%# link_to "Edit this pipeline activity", edit_pipeline_activity_path(@pipeline_activity) %> 

  <div class="container-fluid">
    <%= link_to "Back to pipeline activities", pipeline_activities_path %>
  </div> 

  <%# button_to "Destroy this pipeline activity", @pipeline_activity, method: :delete %>  
</div>
