<div id="<%= dom_id rescare %>">



  <p>
    <strong>Name:</strong>
    <%= rescare.name %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= rescare.services %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= rescare.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= rescare.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= rescare.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= rescare.zip %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= rescare.phone %>
  </p>

  <p>
    <strong>Counties served:</strong>
    <%= rescare.counties_served %>
  </p>

</div>
