<div id="<%= dom_id tte_servicing_pharmacy %>">
  <p>
    <strong>Name:</strong>
    <%= tte_servicing_pharmacy.name %>
  </p>

  <p>
    <strong>Pharmid:</strong>
    <%= tte_servicing_pharmacy.pharmid %>
  </p>

  <p>
    <strong>Street1:</strong>
    <%= tte_servicing_pharmacy.street1 %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= tte_servicing_pharmacy.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= tte_servicing_pharmacy.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= tte_servicing_pharmacy.state_id %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= tte_servicing_pharmacy.zip %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tte_servicing_pharmacy.phone %>
  </p>

</div>
