<p style="color: green"><%= notice %></p>

<%= render @tte_servicing_pharmacy %>

<div>
  <%= link_to "Edit this tte servicing pharmacy", edit_tte_servicing_pharmacy_path(@tte_servicing_pharmacy) %> |
  <%= link_to "Back to tte servicing pharmacies", tte_servicing_pharmacies_path %>

  <%= button_to "Destroy this tte servicing pharmacy", @tte_servicing_pharmacy, method: :delete %>
</div>
