<div id="<%= dom_id npi_company %>">
  <p>
    <strong>Name:</strong>
    <%= npi_company.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= npi_company.number %>
  </p>

  <p>
    <strong>Enumeration date:</strong>
    <%= npi_company.enumeration_date %>
  </p>

  <p>
    <strong>Last updated:</strong>
    <%= npi_company.last_updated %>
  </p>

  <p>
    <strong>Subpart:</strong>
    <%= npi_company.subpart %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= npi_company.status %>
  </p>

</div>
