<p style="color: green"><%= notice %></p>

<%= render @npi_company %>


<div>
  <%= link_to "Edit this npi company", edit_npi_company_path(@npi_company) %> |
  <%= link_to "Back to npi companies", npi_companies_path %>

  <%= button_to "Destroy this npi company", @npi_company, method: :delete %>
</div>
