<div id="<%= dom_id site %>">
  <p>
    <strong>Name:</strong>
    <%= site.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= site.organization_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= site.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= site.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= site.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= site.zip %>
  </p>

  <p>
    <strong>County:</strong>
    <%= site.county %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= site.beds %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= site.category %>
  </p>

  <p>
    <strong>Service type:</strong>
    <%= site.service_type %>
  </p>

  <p>
    <strong>Total bed count:</strong>
    <%= site.total_bed_count %>
  </p>

  <p>
    <strong>Total resident count:</strong>
    <%= site.total_resident_count %>
  </p>

  <p>
    <strong>Icf idd:</strong>
    <%= site.icf_idd %>
  </p>

  <p>
    <strong>License number:</strong>
    <%= site.license_number %>
  </p>

</div>
